# This deploys both the Prisma Server and an Attached Postgres
environments:
  dev:
    values:
      - environments/default/values.yaml
      - environments/dev/values.yaml
    secrets:
      - environments/default/secrets.yaml
      - environments/dev/secrets.yaml
  production:
    values:
      - environments/default/values.yaml
      - environments/production/values.yaml
    secrets:
      - environments/default/secrets.yaml
      - environments/production/secrets.yaml

releases:
  - name: spotfire-prisma
    namespace: spotfire
    labels:
      layer: data
    chart: stable/prisma
    version: 1.2.1
    values:
    - values/prisma/values.yaml.gotmpl
  - name: spotfire-api
    namespace: spotfire
    chart: charts/spotfire-api
    values:
    - values/spotfire-api/values.yaml.gotmpl